body {
    display: grid;
    place-items: center;
    color: black;
    background-color: whitesmoke;
}

.container {
    section {
        color: black;
        font-size: 16px;
        padding: 30px;
        border: 2px solid black;
        border-radius: 30px;
        margin: 10px;
    }

    h2 a{
        text-decoration: none;
        color: black;
    }
}

header {
    color: black;
}